.admin-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.form textarea{
    max-width: 600px;
    padding: 25px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
}

.admin-container h1{
    margin-bottom: 25px;
    margin-top: 20px;
}

.btn-register{
    margin-top: 10px;
    background-color: #0365ed;
    color: #fff;
    padding: 7px;
    border-radius: 8px;
    border: none;
    font-weight: 550;
    font-size: 16px;
}

.list{
    width: 90%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    background-color: rgb(47, 43, 43);
    margin-top: 25px;
    padding: 8px;
    border-radius: 8px;
}

.list p{
    margin-bottom: 7px;
    margin-top: 5px;
}
.btn-checked{
    margin-left: 5px;
    background-color: transparent;
    color: rgb(57, 162, 57);
    border: none;
    padding: 4px;
    border-radius: 3px;
}
.btn-checked:hover{
    background-color: rgb(57, 162, 57);
    color: #fff;
    transition: all 0.3s;
}

.btn-edit{
    border: none;
    padding: 4px;
    border-radius: 3px; 
    background-color: transparent;
    color: #0365ed;
}
.btn-edit:hover{
    background-color: #0365ed;
    color: #fff;
    transition: all 0.3s;
}

.btn-logout{
    position: absolute;
    bottom: 6%;
    left: 4%;
    height: 60px;
    width: 60px;
    border-radius: 30px;
    font-weight: bold;
    background-color: #ea1a1aa8;
    border: none;
    color: #fafafa;
}
.btn-logout:hover{
    background-color: #ff0000;
    color: #fff;
    transition: all 0.3s;
}
